page-places {
    ul {
        list-style: none;
        padding-left: 10px;

        li {
            padding-top: 10px;

        }
        
        p {
            margin-bottom: -50%;
        }
        div {
            margin-bottom: 0%
        }
       
    }

    a {
        color: color($colors, light);
        text-decoration: none;
        
        &:hover {
            color: color($colors, primary);
        }
    }
    
    //för att högerställa status 
    .alignright {
        float: right;
    }
   .cards{
       ion-card{
           position: relative;
           text-align: center;
            }

       width: 100px;
       height: 70px;
     div{
         
     } 
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-auto-rows: auto;
       grid-gap: 10px;
   }
    
}


