page-today {


    
    ul {
        list-style: none;
        padding-left: 10px;

        li {
            padding-top: 10px;
        }
    }

    a {
        color: color($colors, light);
        text-decoration: none;
        
        &:hover {
            color: color($colors, primary);
        }
    }
    

}
