page-contact {

    ul {
        list-style: none;
        padding-left: 10px;
        

        li {
            padding-top: 10px;
           text-align: center;
            
        }
        a {
            color:color($colors, textColor);
           
        }
        
    
       ion-icon {
           font-size: 33px;
       }
    }
    .alignright{
        text-align: center;
    }
    .text2{
        margin-top: 20px;
        margin-bottom: -30px;
    }
}
