
.log-in {
    background:color($colors, midnight);
    color:color($colors, light);
    
}
.today {
    background:color($colors, midnight);
    color:color($colors, textColor); 
}
.menu {
    background:color($colors, midnight);
    color:color($colors, light);
}
.places {
    background:color($colors, midnight);
    color:color($colors, textColor);
}
.tabs-ios .tab-button-icon {
    color:color($colors, textBlack);
}
.toolbar-title {
    color:color($colors, textColor);
}
.scroll-content{
    overflow-y: hidden;
}
