
.log-in {
    background:color($colors, midnight);
    color:color($colors, light);
}  

.today {
    background:color($colors, midnight);
    color:color($colors, light);
}  

.log-in {
    background:color($colors, midnight);
    color:color($colors, light);
}  
