.log-in {
    background:color($colors, midnight);
    color:color($colors, light);
    background-image: url('../assets/imgs/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
 }
 .today {
    background:color($colors, midnight);
    color:color($colors, textColor); 
    background-image: url('../assets/imgs/today_1024.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 
 }
 .menu {
    background:color($colors, midnight);
    color:color($colors, light);
    background:color($colors, midnight);
    color:color($colors, textColor);
    background-image: url('../assets/imgs/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 
 }
 .places {
    background:color($colors, midnight);
    color:color($colors, textColor);
    background-image: url('../assets/imgs/today_1024.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 
 
 }
 .settings {
    background:color($colors, midnight);
    color:color($colors, textColor);
    background-image: url('../assets/imgs/today_1024.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
 
 }
 .about {
    background:color($colors, midnight);
    color:color($colors, light);
    background-image: url('../assets/imgs/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;    
 }
 /*.tabs-ios .tab-button-icon {
    color:color($colors, tabColor);
 }*/
 .toolbar-title {
    color:color($colors, textColor);
 }
 //Döljer scrollbaren
 .scroll-content{
    overflow-y: hidden;
 }
 .activeHighLight{
     background-color:color($colors, textColor);
 }
.menuButton{
    margin-top: 55px;
}
.toggle-menu{
    background:color($colors, midnight);
    color:color($colors, light);
    background-image: url('../assets/imgs/login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.lista .item {
    background-color:transparent;
    color:color($colors, textColor);
 
}
 
 
 
 
 


