page-tyresta {


    .weather-factors {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .scroll-content {
        overflow-y: scroll;
      }

    .thermo-col {
        border-left: 1px solid rgba(238, 238, 238, 0.2);
        border-right: 1px solid rgba(238, 238, 238, 0.2);
    }

    .status {
        margin-top: 25px;
    }

    .divider {
        background: rgba(238, 238, 238, 0.2);
    }

    .forecast {
        color: color($colors, light);
    }


    ul {
        list-style: none;
        padding-left: 10px;

        li {
            padding-top: 10px;

        }
        
        p {
            margin-bottom: -50%;
        }
        div {
            margin-bottom: 0%
        }
       
    }

    a {
        color: color($colors, light);
        text-decoration: none;
        
        &:hover {
            color: color($colors, primary);
        }
    }
    
    //för att högerställa status 
    .alignright {
        float: right;
    }
  
    
}



