page-menu {
    .menuButton {

        margin-top: 0px;
        
        button {
              margin-left: 0;
          }
      }
      .ion-toggle{
        border-radius:30px;
        $toggle-ios-background-color-on: color($colors, textColor);
      }
}
